i3
i3blocks
i3lock-color
apache2
arc-theme
betterlockscreen
build-essential
cifs-utils
compton
conky-std
curl
feh
firefox-esr
flameshot
freerdp3-x11
fzf
gedit
jq
krb5-user
neovim
openvpn
p7zip-full
papirus-icon-theme
pipewire
pipx
powershell-lts
python-is-python3
rofi
terminator
thunar
xinit
xorg
