7zip
i3
i3blocks
i3lock-color
apache2
arc-theme
betterlockscreen
build-essential
caja
cargo
cifs-utils
compton
conky-std
curl
feh
firefox-esr
flameshot
freerdp3-x11
fzf
gedit
hx
jq
krb5-user
openvpn
papirus-icon-theme
pipewire
powershell-lts
python-is-python3
rofi
terminator
xinit
xserver-xorg-core
