bloodhound
chisel
crackmapexec
enum4linux-ng
exploitdb
feroxbuster
hashcat
ffuf
hydra
impacket-scripts
ligolo-ng
metasploit-framework
name-that-hash
neo4j
nmap
proxychains4
python3-impacket
responder
rlwrap
seclists
sendemail
smbclient
snmp
sqlmap
sslscan
wireshark
